<form action="save.php" id="myform">
  <input type="hidden" name="cropx" id="cropx" value="0" />
  <input type="hidden" name="cropy" id="cropy" value="0" />
  <input type="hidden" name="cropw" id="cropw" value="0" />
  <input type="hidden" name="croph" id="croph" value="0" />
  <input type="submit" value="Save Coordinates" />
</form>